# Default configuration file for SExtractor 2.19.5
# EB 2016-02-05
# default.sex
 
#-------------------------------- Catalog ------------------------------------
 
CATALOG_NAME     stack_image.cat 
                                # name of the output catalog
CATALOG_TYPE     ASCII_HEAD     # NONE,ASCII,ASCII_HEAD, ASCII_SKYCAT,
                                # ASCII_VOTABLE, FITS_1.0 or FITS_LDAC
PARAMETERS_NAME  /home2/TAT/programs/TATIRP/SE_workshop/SE.param       
                                # name of the file containing catalog contents
VERBOSE_TYPE     NORMAL         # can be QUIET, NORMAL or FULL

#------------------------------ Check Image ----------------------------------
 
CHECKIMAGE_TYPE  BACKGROUND,BACKGROUND_RMS,APERTURES,-BACKGROUND
                                # can be NONE, BACKGROUND, BACKGROUND_RMS,
                                ## MINIBACKGROUND, MINIBACK_RMS, -BACKGROUND,
                                ## FILTERED, OBJECTS, -OBJECTS, SEGMENTATION,
                                ## or APERTURES
CHECKIMAGE_NAME stack_image_bkg.fits, stack_image_rms.fits, stack_image_aper.fits, stack_image_mbkg.fits
                                # Filename for the check-image
 
#-------------------------------- Basic --------------------------------------
#-------------------------------- 7.1.1 Image --------------------------------
 
#GAIN             1.54            # detector gain in e-/ADU
GAIN_KEY         GAIN           # keyword for detector gain in e-/ADU
MAG_ZEROPOINT    0.0            # magnitude zero-point
#MAG_GAMMA        4.0            # gamma of emulsion for DETECTED_TYPE PHOTO
SATUR_LEVEL      65535       # level (in ADUs) at which arises saturation
SATUR_KEY        SATURATE       # keyword for saturation level (in ADUs)

#------------------------7.1.2 Star/Galaxy Separation ------------------------
 
PIXEL_SCALE      0.0            # size of pixel in arcsec (0=use FITS WCS info)
#SEEING_FWHM      1.2            # stellar FWHM in arcsec
#ANALYSIS_THRESH  1.5            # <sigmas> or <threshold>,<ZP> in mag.arcsec-2
#STARNNW_NAME     default.nnw    # Neural-Network_Weight table filename
 
#-------------------------------- 7.2.1 Background ---------------------------

BACK_TYPE        AUTO           # AUTO or MANUAL
BACK_SIZE        32             # Background mesh: <size> or <width>,<height>
#                64
#                128
#BACK_FILTERSIZE  3              # Background filter: <size> or <width>,<height>
#BACK_FILTTHRESH  0.0            # Threshold above which the background-map
                                # filter operates
#BACK_VALUE       0.0            # Default background value in MANUAL mode
 
BACKPHOTO_TYPE   GLOBAL         # can be GLOBAL or LOCAL
#BACKPHOTO_THICK  24             # thickness of the background LOCAL annulus
 
#-------------------------------- 7.2.2 Weight -------------------------------

WEIGHT_TYPE      NONE     # type of WEIGHTing: NONE, BACKGROUND,
                                # MAP_RMS, MAP_VAR or MAP_WEIGHT
#WEIGHT_IMAGE     ../data_L1512/Ks_sub/L1512_Ks_sub.weight.fits
                                # filename for MAP_RMS/MAP_VAR/MAP_WEIGHT
RESCALE_WEIGHTS  Y              # Rescale input weights/variances (Y/N)?
WEIGHT_GAIN      Y              # modulate gain (E/ADU) with weights? (Y/N)
#WEIGHT_THRESH    0              # weight threshold[s] for bad pixels

#-------------------------------- Extraction ---------------------------------
#-------------------------------- 7.3.1 Detection ----------------------------

DETECT_TYPE      CCD            # CCD (linear) or PHOTO (with gamma correction)

DETECT_MINAREA   5              # min. # of pixels above threshold
DETECT_MAXAREA   0              # max. # of pixels above threshold (0=unlimited)
THRESH_TYPE      RELATIVE       # threshold type: RELATIVE (in sigmas)
                                # or ABSOLUTE (in ADUs)
DETECT_THRESH     3             # <sigmas> or <threshold>,<ZP> in mag.arcsec-2
 
#-------------------------------- 7.3.2 Filter -------------------------------
 
FILTER           N              # apply filter for detection (Y or N)?
#FILTER_NAME      /usr/share/sextractor/gauss_3.0_5x5.conv
#                gauss_1.5_3x3.conv
                                # name of the file containing the filter
#FILTER_THRESH                   # Threshold[s] for filtering

#-------------------------------- 7.3.3 Deblend ------------------------------
 
DEBLEND_NTHRESH  32             # Number of deblending sub-thresholds
DEBLEND_MINCONT  0.005          # Minimum contrast parameter for deblending

#-------------------------------- 7.3.4 Clean --------------------------------
 
CLEAN            Y              # Clean spurious detections? (Y or N)?
CLEAN_PARAM      1.0            # Cleaning efficiency b, I(r)/I0=1/(1+kr^2)^b
 
#-------------------------------- 7.4 Photometry -----------------------------
 
PHOT_AUTOPARAMS  2.5, 3.5       # MAG_AUTO parameters: <Kron_fact>,<min_radius>
PHOT_PETROPARAMS 2.0, 3.5       # MAG_PETRO parameters: <Petrosian_fact>,
                                # <min_radius>
PHOT_AUTOAPERS   0.0,0.0        # <estimation>,<measurement> minimum apertures
                                # for MAG_AUTO and MAG_PETRO
#PHOT_APERTURES   9              # MAG_APER aperture diameter(s) in pixels
PHOT_FLUXFRAC    0.5            # flux fraction[s] used for FLUX_RADIUS
 
MASK_TYPE        CORRECT        # type of detection MASKing: can be one of
                                # NONE, BLANK or CORRECT
 
#-------------------------------- 7.5 Flag -----------------------------------

FLAG_TYPE        OR             # flag pixel combination: OR, AND, MIN, MAX
                                # or MOST
#FLAG_IMAGE       ../data_L1512/Ks_sub/L1512_Ks_sub_flag.fits
                                # filename for an input FLAG-image
FITS_UNSIGNED    N              # Treat FITS integer values as unsigned (Y/N)?

#-------------------------------- 7.6 Interpolation --------------------------

INTERP_TYPE      ALL            # Interpolation type: NONE, VAR_ONLY or ALL
INTERP_MAXXLAG   16             # Max. lag along X for 0-weight interpolation
INTERP_MAXYLAG   16             # Max. lag along Y for 0-weight interpolation

#--------------------- Memory (change with caution!) -------------------------
 
MEMORY_OBJSTACK  3000           # number of objects in stack
MEMORY_PIXSTACK  300000         # number of pixels in stack
MEMORY_BUFSIZE   1024           # number of lines in buffer
 
